.submitButton {
  background-color: #888 !important;
  height: 30px !important;
  text-align: center !important;
  font-size: 12px !important;
}

.roundButton {
  background-color: #888 !important;
  width: 30px !important;
  height: 30px !important;
  padding: 6px 0px !important;
  border-radius: 15px !important;
  text-align: center !important;
  font-size: 12px !important;
  line-height: 1.33 !important;
}

